<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <link rel="stylesheet" href="{% static 'PortfolioA/css/baseStyle.css' %}">
    <link rel="stylesheet" href="{% static 'PortfolioA/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'PortfolioA/css/usersStyle.css' %}">

  {% block head %}{% endblock %}
</head>
<body>

  {% block base_content %}{% endblock %}
  <script type="text/javascript" src="{% static 'PortfolioA/js/style.js' %}"></script>

</body>
</html>

